<a href="https://colab.research.google.com/github/lakesidetech/machine_learning/blob/main/Decision_trees_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Data Pre-processing step

*   Fitting a Decision-Tree algorithm to the Training set

*   Predicting the test result

*   Test accuracy of the result(Creation of Confusion matrix)


*   Visualizing the test set result.

In [ ]:
#Python can create a decision tree that can be used to decide if any new shows are worth attending to
import pandas as pd
from sklearn import tree
from pandas import read_csv
from sklearn.tree import DecisionTreeClassifier

Load the show dataset

In [5]:
shows_df=pd.read_csv('/content/shows.csv')
shows_df.head()

   Age  Experience  Rank Nationality   Go
0   36          10     9          UK   NO
1   42          12     4         USA   NO
2   23           4     6           N   NO
3   52           4     4         USA   NO
4   43          21     8         USA  YES

In [6]:
shows_df.shape

(13, 5)

In [12]:
d = {'UK': 0, 'USA': 1, 'N': 2}
shows_df['Nationality'] = shows_df['Nationality'].map(d)
d = {'YES': 1, 'NO': 0}
shows_df['Go'] = shows_df['Go'].map(d)

In [23]:
#Extracting Independent and dependent Variable  
#all rows plus 1st,2nd and 3rd columns of data  
x= shows_df.iloc[:, [0,2,3]].values
#all rows plus last column of data  
y= shows_df.iloc[:, -1].values  
print(x)
print(y)

[[36  9  0]
 [42  4  1]
 [23  6  2]
 [52  4  1]
 [43  8  1]
 [44  5  0]
 [66  7  2]
 [35  9  0]
 [52  7  2]
 [35  9  2]
 [24  5  1]
 [18  7  0]
 [45  9  0]]
[0 0 0 0 1 0 1 1 1 1 0 1 1]

In [22]:
features = ['Age', 'Experience', 'Rank', 'Nationality']

X = shows_df[features]
y = shows_df['Go']
print(X)
print(y)

    Age  Experience  Rank  Nationality
0    36          10     9            0
1    42          12     4            1
2    23           4     6            2
3    52           4     4            1
4    43          21     8            1
5    44          14     5            0
6    66           3     7            2
7    35          14     9            0
8    52          13     7            2
9    35           5     9            2
10   24           3     5            1
11   18           3     7            0
12   45           9     9            0
0     0
1     0
2     0
3     0
4     1
5     0
6     1
7     1
8     1
9     1
10    0
11    1
12    1
Name: Go, dtype: int64

In [18]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.25, random_state=0)

In [19]:
#feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()  
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)