<a href="https://colab.research.google.com/github/lakesidetech/machine_learning/blob/main/Decision_trees_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Python can create a decision tree that can be used to decide if any new shows are worth attending to
import pandas as pd
from sklearn import tree
from pandas import read_csv
from sklearn.tree import DecisionTreeClassifier

In [5]:
shows_df=pd.read_csv('/content/shows.csv')
shows_df.head()

   Age  Experience  Rank Nationality   Go
0   36          10     9          UK   NO
1   42          12     4         USA   NO
2   23           4     6           N   NO
3   52           4     4         USA   NO
4   43          21     8         USA  YES