<a href="https://colab.research.google.com/github/lakesidetech/machine_learning/blob/main/preprocesssing_data_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python can create a decision tree that can be used to decide if any new shows are worth attending to
#import libraries
import pandas as pd
import numpy as np  

from sklearn import tree
from pandas import read_csv
from sklearn.tree import DecisionTreeClassifier

import pydotplus
import matplotlib.pyplot as plt
import matplotlib.image as pltimg

In [3]:
#data preprocessing
#1 get the dataset
show_df=pd.read_csv('/content/shows_2.csv')
show_df

    Age  Experience  Rank Nationality   Go
0    36        10.0     9          UK   NO
1    42        12.0     4         USA   NO
2    23         4.0     6           N   NO
3    52         NaN     4         USA   NO
4    43        21.0     8         USA  YES
5    44        14.0     5          UK   NO
6    66         3.0     7           N  YES
7    35        14.0     9          UK  YES
8    52         NaN     7           N  YES
9    35         5.0     9           N  YES
10   24         3.0     5         USA   NO
11   18         3.0     7          UK  YES
12   45         9.0     9          UK  YES

In [ ]:
#find missing data
# handle 2 ways
# delete the affected row
# or calculate the mean

In [8]:
#Extracting dependent and independent variables:
#the first colon(:) is used to take all the rows, and the second colon(:) is for all the columns.-1 excludes the last column,
#To extract independent variables, again, we will use Pandas .iloc[] method.
x= show_df.iloc[:,:-1].values  
print(x)
#To extract dependent variables, again, we will use Pandas .iloc[] method.
y=show_df.iloc[:,4].values
print(y)

[[36 10.0 9 'UK']
 [42 12.0 4 'USA']
 [23 4.0 6 'N']
 [52 nan 4 'USA']
 [43 21.0 8 'USA']
 [44 14.0 5 'UK']
 [66 3.0 7 'N']
 [35 14.0 9 'UK']
 [52 nan 7 'N']
 [35 5.0 9 'N']
 [24 3.0 5 'USA']
 [18 3.0 7 'UK']
 [45 9.0 9 'UK']]
['NO' 'NO' 'NO' 'NO' 'YES' 'NO' 'YES' 'YES' 'YES' 'YES' 'NO' 'YES' 'YES']