<a href="https://colab.research.google.com/github/lakesidetech/machine_learning/blob/main/titanic_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***This program predicts if a passenger will survive on the titanic***

# ***import liabries***

In [3]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import numpy as np
from pandas import read_csv

In [4]:
#load the data into dataframe

train_titanic =pd.read_csv('/content/train.csv')
test_titanic =pd.read_csv('/content/test.csv')

# Exploratory Data Analysis (EDA)

In [5]:
#check the size of training dataset rows,columns
train_titanic.shape

(891, 12)

In [6]:
#check the size of the testing dataset rows/columns
test_titanic.shape

(418, 11)

In [7]:
#Check data your column's datatype
#check for empty or missing value
train_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
#check and drop duplicate rows in your dataset
duplicated_rows=train_titanic[train_titanic.duplicated()]
print('dupicates are:',duplicated_rows)

dupicates are: Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [9]:
#get some statistics on the dataset\
train_titanic.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [11]:
#Clean the dataset
# Making a list of missing value types
missing_values = ["n/a", "na", "--"]
train_titanic = pd.read_csv("train.csv", na_values = missing_values)
missing_values

['n/a', 'na', '--']

In [13]:
# Looking at the age column
print(train_titanic['Age'])
print(train_titanic['Age'].isnull())

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [ ]:
#Display the head upto 10 rows

In [ ]:
#Convert the features into numeral so the machine learning algorithme can

In [ ]:
#Spot additional features with missing (NaN = not a number) fill them in.

In [ ]:
#Determine the Age and Sex of Passengers

In [ ]:
#Determine the class of the passenger (1, 2 and 3rd class and their survival

In [ ]:
# create categories based on age

# Build the machine model and compare the results.

Stochastic Gradient Descent (SGD):

Random Forest

Logistic Regression

K Nearest Neighbor

Gaussian Naive Bayes

Support Vector Machine

Perceptron

Decision Tree

Conclude and tell us what would be the best Model in this respect to use?