<a href="https://colab.research.google.com/github/lakesidetech/machine_learning/blob/main/Weights_KNN_alogirthm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#sklearn library metrics class
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import read_csv
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score, f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [3]:
#read dataset
weights = pd.read_csv("/content/weight_info.csv")
weights

   Weight(x2)  Height(y2)        Class
0          52         167  Underweight
1          62         186       Normal
2          69         176       Normal
3          64         173       Normal
4          65         172       Normal
5          56         174  Underweight
6          58         169       Normal
7          57         173       Normal
8          55         170       Normal

# **Data Visualization and Analysis**

In [4]:
#data shape - number of rows and columns example 9 roes and 3 cloumns
weights.shape

(9, 3)

In [5]:
#how many values belongs to each class
weights['Class'].value_counts()

Normal         7
Underweight    2
Name: Class, dtype: int64

In [6]:
#gives the names of all the columns
weights.columns

Index(['Weight(x2)', 'Height(y2)', 'Class'], dtype='object')

In [7]:
#givesall the values in the dataset weights
weights.values

array([[52, 167, 'Underweight'],
       [62, 186, 'Normal'],
       [69, 176, 'Normal'],
       [64, 173, 'Normal'],
       [65, 172, 'Normal'],
       [56, 174, 'Underweight'],
       [58, 169, 'Normal'],
       [57, 173, 'Normal'],
       [55, 170, 'Normal']], dtype=object)

In [8]:
#information about the dataset including memory usage, number of columns, null or non-null values, datatype
weights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Weight(x2)  9 non-null      int64
 1   Height(y2)  9 non-null      int64
 2   Class       9 non-null      object
dtypes: int64(2), object(1)
memory usage: 344.0+ bytes